{% extends "base.html" %}

{% load thumbnail %}

{% block title %}People{% endblock %}

{% block content %}
    <h1>People</h1>
    <div id="people-list">
        {% for user in users %}
            <div class="user">

                {{user.Profile}}
                
                <a href="{{ user.get_absolute_url }}">
                    {% if user.profile.photo %}
                        <img src="{% thumbnail user.profile.photo 180x180 crop=True %}" class="userdetail">
                    {% else %}
                        <img src="https://static.vecteezy.com/system/resources/thumbnails/005/129/844/small_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" class="userdetail">
                    {% endif %}
                </a>
                <div class="info">
                    <a href="{{ user.get_absolute_url }}" class="title">
                        {{ user.get_full_name }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}